/build
/google-services.json
/release/net.frostedbytes.android.comiccollector-release-1.0.1.116.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.2.17.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.3.21.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.4.28.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.5.144.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.6.16.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.7.184.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.8.7.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.9.73.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.10.39.apk
/release/net.frostedbytes.android.comiccollector-release-1.0.14.10.apk
/release/net.whollynugatory.android.comiccollector-release-1.0.16.14.apk
/release/net.whollynugatory.android.comiccollector-release-1.0.17.26.apk
/release/output.json
/release/output-metadata.json
